<a href="https://colab.research.google.com/github/oceanx22/dropout_prediction/blob/main/ML_DROPOUT_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from time import time
from sklearn.metrics import f1_score


student_data=pd.read_csv(r"C:\Users\SUHANI\OneDrive\Desktop\studentdata.csv")
student_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,no,5,5,4,4,5,4,11,no
391,MS,M,17,U,LE3,T,3,1,services,services,...,yes,no,2,4,5,3,4,2,3,yes
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,no,5,5,3,3,3,3,3,no
393,MS,M,18,R,LE3,T,3,2,services,other,...,yes,no,4,4,1,3,4,5,0,yes
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,yes,no,3,2,3,3,3,5,5,no

In [ ]:
#data exploration

#TODO: Calculate number of students
n_students = student_data.shape[0]

# TODO: Calculate number of features
n_features = student_data.shape[1] - 1

# TODO: Calculate passing students
n_passed = len(student_data[student_data.passed == "yes"])

# TODO: Calculate failing students
n_failed = len(student_data[student_data.passed == "no"])

# TODO: Calculate graduation rate
grad_rate = n_passed * 100.0 / n_students

# Print the results
print("Total number of students: {}".format(n_students))
print ("Number of features: {}".format(n_features))
print ("Number of students who passed: {}".format(n_passed))
print ("Number of students who failed: {}".format(n_failed))
print ("Graduation rate of the class: {:.2f}%".format(grad_rate))

Total number of students: 395
Number of features: 30
Number of students who passed: 265
Number of students who failed: 130
Graduation rate of the class: 67.09%

In [ ]:
#data preparation

# Extract feature columns
feature_cols = list(student_data.columns[:-1])

# Extract target column 'passed'
target_col = student_data.columns[-1]

# Show the list of columns
print ("Feature columns:\n{}".format(feature_cols))
print ("\nTarget column: {}".format(target_col))

# Separate the data into feature data and target data (X_all and y_all, respectively)
X_all = student_data[feature_cols]
y_all = student_data[target_col]

# Show the feature information by printing the first five rows
print ("Feature values:")
print (X_all.head())

Feature columns:
['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

Target column: passed
Feature values:
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  higher internet  romantic  famrel  freetime goout Dalc Walc health absences
0    yes       no        no       4         3     4    1    1      3        6
1    yes      yes        no       5         3     3    1    1      3        4
2    yes      yes        no       4         3     2    2    3      3       10
3    yes      yes       yes       3         2     2    1    1      5        2
4    yes       no        no       4         3     2    1    2      5        4

[5 rows x 30 columns]

In [ ]:
def preprocess_features(X):
    ''' Preprocesses the student data and converts non-numeric binary variables into
        binary (0/1) variables. Converts categorical variables into dummy variables. '''

    # Initialize new output DataFrame
    output = pd.DataFrame(index = X.index)

    # Investigate each feature column for the data
    for col, col_data in X.iteritems():

        # If data type is non-numeric, replace all yes/no values with 1/0
        if col_data.dtype == object:
            col_data = col_data.replace(['yes', 'no'], [1, 0])

        # If data type is categorical, convert to dummy variables
        if col_data.dtype == object:
            # Example: 'school' => 'school_GP' and 'school_MS'
            col_data = pd.get_dummies(col_data, prefix = col)

        # Collect the revised columns
        output = output.join(col_data)

    return output

X_all = preprocess_features(X_all)
print ("Processed feature columns ({} total features):\n{}".format(len(X_all.columns), list(X_all.columns)))

Processed feature columns (48 total features):
['school_GP', 'school_MS', 'sex_F', 'sex_M', 'age', 'address_R', 'address_U', 'famsize_GT3', 'famsize_LE3', 'Pstatus_A', 'Pstatus_T', 'Medu', 'Fedu', 'Mjob_at_home', 'Mjob_health', 'Mjob_other', 'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'reason_course', 'reason_home', 'reason_other', 'reason_reputation', 'guardian_father', 'guardian_mother', 'guardian_other', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

In [ ]:
# TODO: Import any additional functionality you may need here
from sklearn.model_selection import train_test_split

# TODO: Set the number of training points
num_train = 300

# Set the number of testing points
num_test = X_all.shape[0] - num_train

# TODO: Shuffle and split the dataset into the number of training and testing points above
X_train, X_test, y_train, y_test = train_test_split(
        X_all, y_all, stratify=y_all, test_size=95, random_state=0)

# Show the results of the split
print ("Training set has {} samples.".format(X_train.shape[0]))
print ("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 300 samples.
Testing set has 95 samples.

In [ ]:
#setup

def train_classifier(clf, X_train, y_train):
    ''' Fits a classifier to the training data. '''

    # Start the clock, train the classifier, then stop the clock
    start = time()
    clf.fit(X_train, y_train)
    end = time()

    # Print the results
    print ("Trained model in {:.4f} seconds".format(end - start))


def predict_labels(clf, features, target):
    ''' Makes predictions using a fit classifier based on F1 score. '''

    # Start the clock, make predictions, then stop the clock
    start = time()
    y_pred = clf.predict(features)
    end = time()

    # Print and return results
    print ("Made predictions in {:.4f} seconds.".format(end - start))
    return f1_score(target.values, y_pred, pos_label='yes')


def train_predict(clf, X_train, y_train, X_test, y_test):
    ''' Train and predict using a classifer based on F1 score. '''

    # Indicate the classifier and the training set size
    print ("Training a {} using a training set size of {}. . .".format(clf.__class__.__name__, len(X_train)))

    # Train the classifier
    train_classifier(clf, X_train, y_train)

    # Print the results of prediction for both training and testing
    print ("F1 score for training set: {:.4f}.".format(predict_labels(clf, X_train, y_train)))
    print ("F1 score for test set: {:.4f}.".format(predict_labels(clf, X_test, y_test)))

In [ ]:
#model implementation

from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB

# TODO: Initialize the three models
clf_A = DecisionTreeClassifier(random_state=0)
clf_B = svm.SVC(random_state=0)
clf_C = GaussianNB()

# TODO: Set up the training set sizes
X_train_100 = X_train[0:100]
y_train_100 = y_train[0:100]

X_train_200 = X_train[0:200]
y_train_200 = y_train[0:200]

X_train_300 = X_train[0:300]
y_train_300 = y_train[0:300]

# TODO: Execute the 'train_predict' function for each classifier and each training set size
# train_predict(clf, X_train, y_train, X_test, y_test)

classifiers = [clf_A, clf_B, clf_C]
training_subsets = [(X_train_100, y_train_100), (X_train_200, y_train_200),
                 (X_train_300, y_train_300)]
for c in classifiers:
    for X_train_subset, y_train_subset in training_subsets:
        print (train_predict(c, X_train_subset, y_train_subset, X_test, y_test))

Training a DecisionTreeClassifier using a training set size of 100. . .
Trained model in 0.0081 seconds
Made predictions in 0.0000 seconds.
F1 score for training set: 1.0000.
Made predictions in 0.0010 seconds.
F1 score for test set: 0.7107.
None
Training a DecisionTreeClassifier using a training set size of 200. . .
Trained model in 0.0082 seconds
Made predictions in 0.0056 seconds.
F1 score for training set: 1.0000.
Made predictions in 0.0000 seconds.
F1 score for test set: 0.6885.
None
Training a DecisionTreeClassifier using a training set size of 300. . .
Trained model in 0.0057 seconds
Made predictions in 0.0029 seconds.
F1 score for training set: 1.0000.
Made predictions in 0.0011 seconds.
F1 score for test set: 0.6875.
None
Training a SVC using a training set size of 100. . .
Trained model in 0.0153 seconds
Made predictions in 0.0027 seconds.
F1 score for training set: 0.8050.
Made predictions in 0.0077 seconds.
F1 score for test set: 0.7871.
None
Training a SVC using a training set size of 200. . .
Trained model in 0.0082 seconds
Made predictions in 0.0064 seconds.
F1 score for training set: 0.8146.
Made predictions in 0.0000 seconds.
F1 score for test set: 0.8101.
None
Training a SVC using a training set size of 300. . .
Trained model in 0.0101 seconds
Made predictions in 0.0173 seconds.
F1 score for training set: 0.8048.
Made predictions in 0.0085 seconds.
F1 score for test set: 0.8050.
None
Training a GaussianNB using a training set size of 100. . .
Trained model in 0.0087 seconds
Made predictions in 0.0031 seconds.
F1 score for training set: 0.5833.
Made predictions in 0.0033 seconds.
F1 score for test set: 0.5161.
None
Training a GaussianNB using a training set size of 200. . .
Trained model in 0.0046 seconds
Made predictions in 0.0000 seconds.
F1 score for training set: 0.8118.
Made predictions in 0.0087 seconds.
F1 score for test set: 0.7576.
None
Training a GaussianNB using a training set size of 300. . .
Trained model in 0.0000 seconds
Made predictions in 0.0000 seconds.
F1 score for training set: 0.8000.
Made predictions in 0.0052 seconds.
F1 score for test set: 0.7273.
None

In [ ]:
#model tuning

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, f1_score
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

# NOTE: As I could not tune any parameters for the GaussianNB I decided to do the parameter
# optimization for my second choice the decision tree classifier.


# TODO: Create the parameters list you wish to tune
parameters = {}
parameters_dt = {'min_samples_split':(2,3,4,5,6,7,8,9,10, 11, 12),
                    'max_depth' :(1,2,3,4,5,6,7,8,9,10),
                    'splitter': ('best', 'random')}

# TODO: Initialize the classifier
clf = GaussianNB()
clf_dt = DecisionTreeClassifier()

# TODO: Make an f1 scoring function using 'make_scorer'
f1_scorer = make_scorer(f1_score, pos_label='yes')

# TODO: Perform grid search on the classifier using the f1_scorer as the scoring method
grid_obj = GridSearchCV(clf, parameters, scoring=f1_scorer)
grid_obj_dt = GridSearchCV(clf_dt, parameters_dt, scoring=f1_scorer)

# TODO: Fit the grid search object to the training data and find the optimal parameters
grid_obj = grid_obj.fit(X_train, y_train)
grid_obj_dt = grid_obj_dt.fit(X_train, y_train)


print (grid_obj_dt.best_params_)

# Get the estimator
clf = grid_obj.best_estimator_
clf_dt = grid_obj_dt.best_estimator_

# Report the final F1 score for training and testing after parameter tuning
print (("Tuned model has a training F1 score of {:.4f}.".format(predict_labels(clf, X_train, y_train))))
print (("Tuned model has a testing F1 score of {:.4f}.".format(predict_labels(clf, X_test, y_test))))

print ("Tuned decision tree model has a training F1 score of {:.4f}.".format(predict_labels(clf_dt, X_train, y_train)))
print ("Tuned decision tree model has a testing F1 score of {:.4f}.".format(predict_labels(clf_dt, X_test, y_test)))

{'max_depth': 1, 'min_samples_split': 5, 'splitter': 'random'}
Made predictions in 0.0037 seconds.
Tuned model has a training F1 score of 0.8000.
Made predictions in 0.0064 seconds.
Tuned model has a testing F1 score of 0.7273.
Made predictions in 0.0000 seconds.
Tuned decision tree model has a training F1 score of 0.8270.
Made predictions in 0.0010 seconds.
Tuned decision tree model has a testing F1 score of 0.8105.